/*body {
    background-color: blueviolet;
}


#barra {
    position: absolute;
    width: 975px;
    height: 64px;
    left: 233px;
    top: 40px;
    background: #24CCCC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;

}

#div_agregar {

    position: absolute;
    width: 312px;
    height: 209.13px;
    left: 579px;
    top: 121px;
    background: #147A7A;
    border-radius: 26px;
  
} 

#editar{
    position: absolute;
    width: 308.01px;
    height: 155px;
    left: 239.99px;
    top: 347px;
    background: #147A7A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

#div_eliminar{
    position: absolute;
    width: 387px;
    height: 128.93px;
    background: #147A7A;
    border-radius: 26px;
}

#eliminar{
    border-bottom: #24CCCC;
}*/